<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    {{>header}}
    {{>empform}}
    <a href="/employee/add" class="absolute h-10 w-32 bg-gray-700 rounded mt-4 text-center leading-10 font-bold text-lg text-gray-400" style="left:12%">+</a>

</body>
</html>