<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    {{>header}}
    {{>Piechart name="hello"}}
    {{>Piechart name="hi"}}
    {{>Barchart name="hello1"}}
    
    {{!-- {{#each emp}}
    {{>empdash stat=this.stat min=this.min date=this.date}}
    {{/each}} --}}
</body>
</html>